body {
    margin: 0px;
    padding: 0px;
    font-family: "Geomanist", serif;
    /* background-image: url("../../public/images/Vector1.png"); */
    /* background-color: #C1F1EE; */
}

.Download-App {
    font-family: Geomanist;
    font-size: 16px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    width: 236px;
    Height: 49px;
    background-color: white;
    border: 3px solid rgba(142, 95, 245, 1);
    border-radius: 30px;
    padding-top: 15px;
    padding-left: 10px;
    margin-top: 30px;
}

.login {
    /* background-color: #4E59E7; */
    color: white;
    font-size: 18px;
    font-Weight: 400;
    Line-height: 18px;
    border: none;
    width: 140px;
    height: 46px;
    box-shadow: 0px 20px 50px rgba(78, 89, 231, 0.3);
    border-radius: 23px;
}

.pragraph {
    font-family: 'Geomanist';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #8F8F98;
}

.heading {
    font-family: 'Geomanist';
    font-style: normal;
    color: #393939;
}

.heading_1 {
    font-family: 'Geomanist';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
}

.Pages_style {
    font-family: Geomanist;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}

.heading_2 {
    font-family: Geomanist, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.Contact_Sales_btn {
    width: 264px;
    height: 66px;
    /* box-shadow: 0px 20px 50px rgba(78, 89, 231, 0.3); */
    border-radius: 33px;
    border: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    /* margin-top: 50px; */
}

.heading_4 {
    font-family: 'Geomanist';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #393939;
}

.pragraph_1 {
    font-family: 'Geomanist';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #8F8F98;
}

.table-th {
    font-family: 'Geomanist';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #393939;
}

.table-td {
    font-family: 'Geomanist';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #8F8F98;
}

.box {
    background: linear-gradient(273.22deg, rgba(193, 241, 238, 0.5) -2.7%, #F1F4FF 99.64%, rgba(253, 206, 165, 0) 137.66%);
    border-radius: 20px;
}

.box_1 {
    font-family: Geomanist, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    height: 350px;
    width: 270px;
    color: #8F8F98;
    margin-left: 20px;
    border-radius: 20px;
}

.box_4 {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.box_5 {
    box-sizing: border-box;
    /* background: rgba(255, 255, 255, 0.5); */
    /* box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08); */
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #8E5FF5;
}

.box_5_skybluecolor {
    background: rgba(8, 192, 181, 1);
}

.box_5_boxshadow {
    box-shadow: 0px 20px 50px 0px rgba(11, 193, 182, 0.3);
}

.Started-but {
    width: 264px;
    height: 66px;
    background: #4E59E7;
    box-shadow: 0px 20px 50px rgba(78, 89, 231, 0.3);
    border-radius: 33px;
    border: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 35px;
}

.button {
    width: 108.78px;
    height: 36px;
    border: none;
    background: #DCE2FF;
    border-radius: 30px;
    margin-top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.see-all {
    font-family: 'Geomanist';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.anymore {
    font-family: 'Geomanist';
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    color: #4E59E7;
}

.Learn-More_1 {
    font-family: 'Geomanist';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.Disrupting {
    font-family: 'Geomanist';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
}

.navbar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color {
    font-family: 'Geomanist';
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    color: #4E59E7;
}

/* .sticky{
    box-shadow: 0px 0px 50px 0px rgba(78, 89, 231, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
} */

.Accounts-assets {
    height: 107px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 0px rgba(78, 89, 231, 0.1);
    margin-top: 150px;
    /* display: flex;
    justify-content: space-between; */
}

.form-error{
    color :red;
    margin-left:10px;
}

.pragraph_hw {
    width: 459px;
    height: 120px;
}

.section_1 {
    display: flex;
    justify-content: space-between;
}

.icon-images-flex {
    display: flex;
    justify-content: space-between;
}

.info_1_img {
    width: 406px;
    height: 492px;
}

.Group_9_img {
    width: 27px;
    height: 27px;
}

.start-verification-img {
    width: 461px;
    height: 471px;
}

.Group-17326-img {
    width: 216px;
    height: 71px;
}

.Group_17516_service_img {
    width: 420px;
    height: 462px;
}

.loction-img{
    width: 13.44px;
    height: 16px;
}

.Group_17539_servic_img {
    width: 500px;
    height: 498px;
}

.Group_17489_service_img {
    width: 540px;
    height: 525px;
}

.Group_17519_service_img {
    width: 501.83px;
    height: 462px;
}

.Group_17520_service_img {
    width: 564px;
    height: 482px;

}

.Group_17517_service_img {
    width: 444px;
    height: 392px;
}

.service_Provider-img {
    width: 455px;
    height: 444px;
}

.Group_17513_service_img {
    width: 389px;
    height: 387px;
}

.download_Banner-img {
    width: 563px;
    height: 483px;
}

.Verified_img {
    width: 169px;
}

.finance-img {
    width: 554.7px;
    height: 710px;
}

.homepage_img {
    width: 510px;
    height: 682.5px;
}

.google-img {
    width: 168px;
    height: 53px;
}

.Sownoad-img {
    width: 777px;
    Height: 562px;
}

.individual_accounts {
    width: 539px;
    height: 525px;
}

.Group-17353-img {
    margin-left: 85%;
}

.individual_assets_img {
    width: 484px;
    height: 500px;
}

.individual_deposits_img {
    width: 427px;
    height: 482px;
}

.individual_payments_DebitCard_img {
    width: 457px;
    Height: 357px;
}

.individual_payments_Peer_img {
    width: 471px;
    Height: 441px;
}

.individual_investments_1_img {
    width: 397px;
    Height: 565px;
}

.individual_investments_2_img {
    width: 384px;
    height: 570px;
}

.individual_investments_3_img {
    width: 405px;
    height: 578px;
}

.bussiness_deposits_img {
    width: 480px;
    height: 369px;
}

.bussiness_payments_1_img {
    width: 507px;
    height: 515.46px;
}

.bussiness_payments_2_img {
    width: 407px;
    height: 342.9px;
}

.Vector_pluse_img {
    width: 20px;
    height: 20px;
    /* margin-left: 70%; */
    margin-right: 30px;
}

.bussiness_accounts_img {
    width: 560px;
    height: 484px;
}

.bussiness_finance_1_img {
    width: 493px;
    height: 336px;
}

.Group_17512_service_img {
    width: 445px;
    height: 418px;
}

.Group_17490_img{
    width: 483.81px;
    height: 665.04px;
}

.Group_501_img{
    width: 367px;
    height: 236px;
    border-radius: 20px;
    margin-left: 40%;
    position: absolute;
    top:500%;
}

.Group-502_img{
    width: 16.12px;
    height: 16px;
}
.feature {
    height: 130px;
    width: 130px;
}

.icon-images-hw {
    width: 30px;
    height: 26.57px;
}

.arow_hw {
    width: 16.25px;
    height: 11.52px;
}

.Asked-questions {
    Height: 500px;
}

.box-height-330 {
    height: 330px;
}

.box-height-373{
    height: 373px;
}

.box-height-367{
    height: 367px;
}

.height-60{
    height:60px;
}
.box-height-350{
    height: 350px;
}

.Group_17041_img{
    width: 159.89px;
    height: 42.48px;
}

.Grey_2_img{
    width: 136.67px;
    height: 36.94px; 
}

.icici_bank_logo_symbol_2_img{
    width: 172.06px;
    height: 36.94px;
}

.KKK_2_img{
    width: 142px;
    height: 36.94px;
}

.Mask-Group-img{
    width: 293.12px;
    height: 371px;
}

.Map_img{
    width:1073.89px;
    Height:605.01px;
}
/* .box-height-510 {
    height: 510px;
} */

.width {
    width: 370px;
}

.width_557{
    width: 557px;
}

.width-217{
    width:217px;
}

.width-363{
    width:363px;
}

.width-459{
    width:459px;
}

.box-width {
    width: 316px;
}

.width-942{
    width:942px;
}
.width-90{
    width:90px;
}
.height-35{
    height:35px;
}
.height-364{
    height:364px;
}

.height-1280{
    height: 1280px;
}

.box-height {
    height: 520px;
}

.box-purple-height {
    height: 580px;
}

.div-height {
    Height: 82px;
}

.input-height{
  height:54px;
}

.height_736{
   height:736px;
}
.height-206{
    height: 206px;
}
.div-width {
    width: 1136px;
}

.header_height {
    height: 500px;
}

.line-height-35 {
    line-height: 35px;
}

.line-height-60 {
    line-height: 60px;
}

.line-height-27 {
    line-height: 27px;
}

.Latest-News {
    background: rgba(216, 198, 255, 0.3);
}

.header_color_skyblue {
    background: linear-gradient(273.22deg, rgba(193, 241, 238, 0.5) -2.7%, #F1F4FF 99.64%, rgba(253, 206, 165, 0) 137.66%);
    /* background-image: url("../../public/images/Vector1.png");  */
}

.header_color_purple {
    background: linear-gradient(282.31deg, #DCD7FF -0.39%, #F5F1FF 91.93%, rgba(217, 199, 255, 0) 106.75%);
}

.header_color_grey {
    background: linear-gradient(281.47deg, rgba(135, 140, 166, 0.5) 2.26%, rgba(247, 247, 249, 0.13) 96.89%);
}

.background-color-blue {
    background: rgba(220, 226, 255, 0.5);
}

.background-color-green {
    background-color: rgba(193, 241, 238, 0.5);
    position: absolute;
    right: 30%;
    top: 670%;
}

.background-color-parpule {
    background: rgba(217, 198, 255, 0.3);
}

.bg-light-blue{
  background: linear-gradient(276.35deg, #C4EAFF 4.97%, rgba(220, 242, 255, 0.6) 84.05%);
}

.bg-light-blue-2{
    background: linear-gradient(273.22deg, rgba(193, 241, 238, 0.3) -2.7%, rgba(107, 202, 255, 0.5) 83.56%);

}

.bg_white_blue{
    background: rgb(249, 249, 254);
}

.background-color-C1F1EE{
    background-color: #d3f8f6;
}

.Asked-questions-color {
    background-color: rgba(246, 241, 255, 0.3);
}

.Zero-balance-purple {
    background-color: rgba(220, 205, 252, 0.3);
    height: 900px;
}

.Zero-balance-skyblue {
    background: rgba(193, 241, 238, 0.5);
    height: 900px;
}

.color_skyblue {
    color: rgba(8, 192, 181, 1);

}

.color-black {
    color: #000000;
}

.color-blue {
    color: #4E59E7;
}

.color-parpule {
    color: #8E5FF5;
}

.color-white {
    color: white;
}

.color-green {
    color: #08C0B5;
}

.color_grey {
    color: rgba(143, 143, 152, 1);
}

.color-C1F1EE{
    color:#0ba49a;
}

.login_button_color {
    background-color: #4E59E7;
}

.sign_up_color {
    background-color: #393939;
}

.margin_right {
    margin-right: 90px;
}

.margin_top_100 {
    margin-top: 100px;
}

.margin_left {
    margin-left: 90px;
}

.margin {
    margin-left: 30px;
}

.margin_top {
    margin-top: 25px;
}

.margin_top_60 {
    margin-top: 60px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-105{
    margin-top: 105%;
}
.ml {
    margin-left: 10px;
}

.mr {
    margin-right: 10px;
}

.margin_left_50 {
    margin-left: 50px;
}

.margin_right_50 {
    margin-right: 50px;
}

.margin_left_23{
    margin-left: 23%;
}

.margin_right_23{
    margin-right: 23%;
}
.padding_top_20 {
    padding-top: 20px;
}

/* .padding_top_15{
    padding-top:15px;
} */

.padding_top_40 {
    padding-top: 40px;
}

.padding_top_60 {
    padding-top: 60px;
}

.pl {
    padding-left: 30px;
}

.padding_left {
    padding-left: 20%;
}

.padding_right {
    padding-right: 20%;
}

.pt {
    padding-top: 25px;
}

.padding_t {
    padding-top: 15px;
}

.padding-top {
    padding-top: 100px;
}

.padding-top-300{
    padding-top:30%;
}

.padding-top-220{
    padding-top:22%;
}


.font-size-60 {
    font-size: 60px;
}

.font-size-50 {
    font-size: 50px;
}

.font-size-18 {
    font-size: 18px;
}
/* .font-weight_700 {
    font-weight: 700;
}  */

.font-weight-500 {
    font-weight: 500;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-35 {
    font-size: 35px;
}

.font-weight_400 {
    font-weight: 400;
}

.font-size-40 {
    font-size: 40px;
}

.font-weight {
    font-weight: 700;
}

.font-size-27 {
    font-size: 27px;
}

.center {
    text-align: center;
    /* font-size: 40px; */
}

.text-transform {
    text-transform: lowercase;
}

.box-shadow {
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.08);
}
.hover-shadow:hover{
    /* box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow); */
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.08);
    
}

.border-radius-20 {
    border-radius: 20px;
}

.border-radius-8{
    border-radius:8px;
}

.border-radius-60{
    border-radius:60px;
}

.border-radius-16{
    border-radius: 16px;
}

.border_skyblue {
    border: 1.5px solid rgba(8, 192, 181, 1)
}

.border_color_blue {
    border: 2px solid rgba(78, 89, 231, 1)
}

.border_color_skyblue-2{
    border:2px solid #DCE2FF;
}

.border_color_skyblue{
    border:1px solid #DCE2FF;
}

.data {
    border: none;
    outline: none;
}

.Invest {
    text-align: center;
}

.NavLink {
    text-decoration: none;
}

.display_inline {
    display: inline;
}

.about_box{
    box-shadow: 0px 4px 50px 0px rgba(220, 226, 255, 0.6);
    background: rgba(255, 255, 255, 1);
}

.box-position{
    position: absolute;
    right: 0%;
    top: 50%;
    left:0%;
}

 .search{
	flex:2;
} 
.display-flex{
display: flex;
}
.search label{
	position:relative;
	/* width:100%; */
	padding:10px 10px;
	/* border:2px solid #DCE2FF; */
    border-radius: 16px;
	/* margin-right:15px; */
    /* height:54px; */
    width:459px;
    
}

.search label input{
	/* padding:6px 10px; */
	/* width:30%; */
	border:none;
	outline:none;
    /* border-right:0px solid #DCE2FF;
	border-bottom:0px solid #DCE2FF; */
    /* border-radius: 16px; */
}
.search label img{
	/* position:absolute; 
	 right:0;
	top:0; */
	/* padding-left:5px; */
    margin-left:12px;
	color:gray;
	/* background:#def6e9;
	border-left:1px solid #b2bec3;
	border-bottom:1px solid #b2bec3; */
	cursor:pointer;
    margin-right:12px; 
}

