.data {
    border: none;
    outline: none;
}

.Group-17326-img {
    width: 216px;
    height: 71px;
}

.table-th {
    font-family: 'Geomanist';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #393939;
}

.table-td {
    font-family: 'Geomanist';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #8F8F98;
}