.heading_1 {
    font-family: 'Geomanist';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
    color: #393939;
}

.color-blue {
    color: #4E59E7;
}

.font-size-40 {
    font-size: 40px;
}

.color-parpule {
    color: #8E5FF5;
}

.color-green {
    color: #08C0B5;
}

.info_1_img {
    width: 406px;
    height: 492px;
}

.start-verification-img {
    width: 461px;
    height: 471px;
}

.service_Provider-img {
    width: 455px;
    height: 444px;
}

.download_Banner-img {
    width: 563px;
    height: 483px;
}

.section_1 {
    display: flex;
    justify-content: space-between;
}

.margin_right {
    margin-right: 90px;
}

.margin_top_100 {
    margin-top: 100px;
}

.margin_left {
    margin-left: 90px;
}

/* .pragraph{
font-family: 'Geomanist';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #8F8F98;
} */
.margin_top {
    margin-top: 25px;
}

.Group-17353-img {
    margin-left: 85%;
}

/* .heading_2{
    width: 359px;
    height: 40px;
    font-family: 'Geomanist';
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    
    color: #393939;
}  */
.anymore {
    font-family: 'Geomanist';
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    color: #4E59E7;
}

.font-size-50 {
    font-size: 50px;
}

.heading_4 {
    font-family: 'Geomanist';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #393939;
}

.Learn-More_1 {
    font-family: 'Geomanist';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.box_1 {
    font-family: Geomanist, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    height: 220px;
    width: 270px;
    color: #8F8F98;
    margin-left: 20px;
    border-radius: 20px;
}

.padding_top_20 {
    padding-top: 20px;
}

.background-color-blue {
    background: rgba(220, 226, 255, 0.5);
}

.background-color-green {
    background: rgba(193, 241, 238, 0.5);
    position: absolute;
    right: 30%;
    top: 650%;
}

.background-color-parpule {
    background: rgba(216, 198, 255, 0.3);
}

.padding_top_60 {
    padding-top: 60px;
}

.box {
    background: linear-gradient(273.22deg, rgba(193, 241, 238, 0.5) -2.7%, #F1F4FF 99.64%, rgba(253, 206, 165, 0) 137.66%);
    border-radius: 20px;
}

.box-height-330 {
    height: 330px;
}

.box-height-510 {
    height: 510px;
}

.width {
    width: 370px;
}

.Disrupting {
    font-family: 'Geomanist';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
}

.center {
    text-align: center;
    /* padding-top:60px; */
    font-size: 40px;
}

.Started-but {
    width: 264px;
    height: 66px;
    background: #4E59E7;
    box-shadow: 0px 20px 50px rgba(78, 89, 231, 0.3);
    border-radius: 33px;
    border: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 60px;
}

.color-black {
    color: #000000;
}

.padding-top {
    padding-top: 100px;
}

.Invest {
    text-align: center;
}

.Latest-News {
    background: rgba(216, 198, 255, 0.3);
}

.box_4 {
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.button {
    width: 108.78px;
    height: 36px;
    border: none;
    background: #DCE2FF;
    border-radius: 30px;
    margin-top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.heading_2 {
    font-family: Geomanist, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.text-transform {
    text-transform: lowercase;
}

.finance-img {
    width: 554.7px;
    height: 710px;
}

.see-all {
    font-family: 'Geomanist';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.pragraph_1 {
    font-family: 'Geomanist';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #8F8F98;
}

.margin {
    margin-left: 30px;
}